html {
	background-color: #f5f5f5;
	font-family: 'Verdana';
}

nav {
	position: fixed;
	height: 32px;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #039ba6;
	z-index: 1;
}

nav li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin-left: 5px;
	margin-right: 5px;
	font-family: inherit;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
}

#livelink {
	float: right;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	display: block;
	background-color: #fff;
	color: #039ba6;
}

h1 {
	font-size: 20px;
	margin-top: 30px;
}

h2 {
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 10px;
}

p {
	font-size: 12px;
}

table {
	border: 0;
	font-size: 12px;
}

th,td {
	text-align: left;
	padding-left: 5px;
}

table a {
	color: #039ba6;
}

form {
	font-size: 12px;
}

form span {
	font-weight: bold;
	margin-right: 5px;
}

input {
	margin: 5 0 5 0; 
}

input[type=submit] {
	display: block;
}

.wrapper {
	margin-left: 36px;
	width: 80%;
}